[2018-10-24 17:36] caiopo opened #1 "Consider using ubuntu:cosmic"
https://github.com/aBARICHELLO/godot-ci/blob/9feff5dc862e9ba6a2cad40aadff801649cf50bf/3.0.2/Dockerfile#L1

Xenial was released in 2016 and is kinda old. Cosmic is the lastest LTS, so it should be preferred if the rest of the tooling is compatible.

[2018-10-24 22:19] #1 closed

[2018-10-24 22:21] aBARICHELLO commented on #1
Thanks @caiopo 🐈

[2018-11-02 01:37] aBARICHELLO opened #2 "Update to 3.1"
Provide docker image for alpha builds of 3.1 while the stable version isn't released.

[2018-11-10 21:17] aBARICHELLO commented on #2
Alpha builds currently have a lot of problems with exporting, waiting for 3.1

[2018-11-11 15:43] aBARICHELLO commented on #2
When 3.1 releases i'll add a new updated tag to Docker Hub.
Yes, this repo is about CI images for Godot, the ones i have are specific for GitLab CI and exporting. If you need something else for travis or other CI please feel free to contribute 🎊

[2019-03-14 03:10] aBARICHELLO commented on #2
Hey @MrMinimal, i've just released godot-ci for Godot 3.1.
Just tested and it didn't work in an old project (the one included in the README, probably my fault, i'll replace it) but worked perfectly in a recent project of mine, one which was developed in 3.1 master branch builds.
Let me know if you have any problems/suggestions.

[2019-03-14 03:10] #2 closed

[2019-08-28 04:15] Waaflee opened #3 "Gitlab Pages"
Currently I'm trying to use your image in gitlab ci/cd to deploy the game in gitlab pages. The game is exported and the artifact uploaded but the page it's not being served. You know anything about it? I'm sorry I know this isn't the propper channel but I couldn't find any answer so far.

[code]

[2019-08-28 20:53] aBARICHELLO opened #4 "Add GitHub Actions example"
Add reference files to use this image with GitHub Actions

[2019-09-22 22:25] josephbmanley commented on #4
I'm not sure if this would go here or within it's own issue, but I've been using your container for an actions pipeline and have encounter a bit of a weird conflict. So in your image, you install everything from your default users home directory.  GitHub actions
See: [https://help.github.com/en/articles/virtual-environments-for-github-actions](https://help.github.com/en/articles/virtual-environmen

[2019-12-19 21:05] aBARICHELLO commented on #3
Just added an example, the deploy process was actually different. If you need help feel free to open another issue.

[2019-12-19 21:05] #3 closed

[2020-01-10 18:32] xuv opened #5 "Add deploy to Itch.io"
Hello @aBARICHELLO

This is not an issue, but a feature request. I'm submitting this especially because your docker image is so popular among all the Godot docker images available. And for a good reason, it provides excellent documentation. Thanks a lot for that.

Since you already have all these excellent examples on how to deploy the HTML5 game to Git(hub|lab) Pages. Adding deployment to Itch.io

[2020-01-11 20:54] aBARICHELLO commented on #5
Thanks for the feedback, I'll look into the butler documentation.

[2020-01-17 02:01] #5 closed

[2020-01-17 02:38] aBARICHELLO opened #7 "GitHub Pages deploy fails when there's nothing to commit"
Example job with this error: https://gitlab.com/BARICHELLO/game-off/-/jobs/406296955

[2020-02-24 00:06] #7 closed

[2020-02-26 12:23] 2shady4u opened #8 "Recommended way to get SVG support (or install anything at all)"
Hello, thank you for this repo!
I was wondering how to add SVG load support inside of the VM, because I'm getting these errors at the moment:
![Capture](https://user-images.githubusercontent.com/42484461/75344513-0d079f80-589b-11ea-9858-90bc1afa39b6.PNG)

I tried the following, but installing with apt-get doesn't seem to work:
[code]

Any idea how I should do this?

[2020-02-26 12:30] 2shady4u commented on #8
To clarify, this is the error in Gitlab:
![image](https://user-images.githubusercontent.com/42484461/75345016-26f5b200-589c-11ea-953b-fb58d0c75bf9.png)

[2020-02-26 21:25] aBARICHELLO commented on #8
I think you're missing `apt-get upgrade` to install what you need, try with: `apt-get update && apt-get upgrade && apt-get install -y --no-install-recoends gwenview`

[2020-02-26 21:45] 2shady4u commented on #8
Hello @aBARICHELLO ! Thank you for your time!

Unfortunately, this doesn't work either 😢
![Capture](https://user-images.githubusercontent.com/42484461/75390979-904fe200-58e9-11ea-810c-c7b7add80bbb.PNG)

(Also, if gwenview is not a good program for making these SVG import/load errors disappear please tell me)

[2020-02-26 23:53] 2shady4u commented on #8
Just to elaborate a bit: The problem becomes even more dire when using 3D models and other more "exotic" formats. For this year's Global Game Jam, I tried to use the godot-ci tools to automatically publish my game to itch.io.

This works great with our test repositories 😄

But when trying to use it with formats like *.fbx, *.mesh, *.ogg and *.wav as seen here:
![image](https://user-images.githubus

[2020-02-27 03:05] aBARICHELLO commented on #8
I'm not sure how to help you, I think there's a problem with your project configuration.
Godot documentation does not mention any specific runtime dependencies to [export projects](https://docs.godotengine.org/en/3.2/getting_started/workflow/export/exporting_projects.html) with those file extensions you mentioned and I don't know how installing gwenview would help.

[2020-02-27 13:13] 2shady4u commented on #8
Hello, I made a small mock-up project that demonstrates the issue.
It seems that (in this case) the autoload editor_plugin "Test.tscn" has issues loading the icon.png
when building this project in Gitlab you get errors. This example is extremely as my actual problem (except for the fact that that project uses an .svg instead)
[ci-warning-test.zip](https://github.com/aBARICHELLO/godot-ci/files/4261

[2020-03-26 15:27] Calinou commented on #8
This is likely solved by https://github.com/godotengine/godot/pull/36083, which hasn't been merged yet. By the way, you don't need to install any system libraries to use SVG in Godot (it bundles [nanosvg](https://github.com/memononen/nanosvg)).

[2020-03-26 16:30] 2shady4u commented on #8
Sweet! Thanks @Calinou ! I'll test it out once that commit is merged and see if that fixes it 😄

BTW I didnt see .mesh or .fbx files in that list? Does that mean that does files will still spawn errors?

[2020-03-26 17:19] Calinou commented on #8
@2shady4u I only looked at image formats, not mesh formats. That said, I don't know why mesh importers would differ between a non-headless version and a headless version.

[2020-04-08 13:50] 2shady4u opened #9 "Gitlab pages CI requires git fetch"
Gitlab pages, out of the box, doesn't seem to want to checkout my "pages" orphan branch.

![failure](https://user-images.githubusercontent.com/42484461/78791801-a05ee500-79b0-11ea-88b4-9bf08b5dc9ba.PNG)

Adding a "git fetch" command to the command stack seems to fix the issue.

![success](https://user-images.githubusercontent.com/42484461/78792890-026c1a00-79b2-11ea-8e65-2bcdc7a4d3e4.PNG)

Would i

[2020-04-08 14:23] Calinou commented on #8
This should probably be closed given this isn't an issue with this CI script.

[2020-04-08 14:50] #8 closed

[2020-04-09 23:54] #9 closed

[2020-04-25 20:18] aBARICHELLO commented on #4
Currently testing Github Actions on branch actions

[2020-04-26 18:57] #4 closed

[2020-05-13 01:59] Hanksha opened #13 "Error when exporting project"
Hi,

It might not be at all an issue of the Docker image but I figured someone might have encountered that issue already.

I'm using Circle CI to export my project for HTML, Windows and macOS. For each of them I'm getting this error when running `godot --export`:

[code]

The build still passes and the builds are there but it seems they are broken (I can only test the macOS/HTML one).

When I run

[2020-05-14 03:47] Hanksha commented on #13
Actually it turns out the build is not broken if I use `--export-debug` instead of `--export`. The error still shows though, but the build is fine. I think it might be a bug in Godot exporter.

[2020-05-14 03:47] #13 closed

[2020-05-20 02:46] aBARICHELLO opened #14 "Add GitHub/GitLab pages and Itch.io deploy to GitHub Actions"

[2020-05-24 08:20] asheraryam opened #17 "Add mono version"
I made a [mono version](https://github.com/asheraryam/godot-mono-ci/) recently and [it works fine.](https://hub.docker.com/repository/docker/asheraryam/godot-mono-ci/)

We opted to update this repo instead of linking to a separate one, see https://github.com/aBARICHELLO/godot-ci/pull/15.

- [x] Modify Dockerfile to build mono https://github.com/aBARICHELLO/godot-ci/pull/16
- [x] Add new builds to

[2020-05-29 16:36] 2shady4u opened #18 "Support android exports"
Just polling how hard it would be to add a way to export to Android?
Would it be a lot of work or is it just a single text line away?

[2020-05-29 17:34] aBARICHELLO commented on #18
We are currently working on #17, android builds are going to be the next supported target

[2020-05-29 18:08] asheraryam commented on #17
Mono/C# image is now online and working

https://hub.docker.com/r/barichello/godot-ci/tags?page=1&name=mono

![image](https://user-images.githubusercontent.com/43449832/83291002-4a5c3000-a1f0-11ea-89b9-5eddb4f817e5.png)
![image](https://user-images.githubusercontent.com/43449832/83291047-5ea02d00-a1f0-11ea-8f5f-863f0713b95e.png)

[2020-05-29 18:08] #17 closed

[2020-06-25 17:33] OverloadedOrama opened #21 "Include rcedit for Windows builds"
Currently, Windows builds generated by godot-ci do not have an icon and the Windows preset options found in `export_presets.cfg` are ignored. To solve this, godot-ci needs to install rcedit (and possibly WINE), and include the paths to these binaries inside Godot's editor settings. See this for more information: https://docs.godotengine.org/en/stable/getting_started/workflow/export/changing_applic

[2020-07-01 02:12] abueide opened #25 "Git Worktree"
Hey, I'm getting this error when deploying to github pages.

/usr/bin/git worktree add --checkout github-pages-deploy-action-temp-deployment-folder origin/gh-pages
Preparing github-pages-deploy-action-temp-deployment-folder (identifier github-pages-deploy-action-temp-deployment-folder)
HEAD is now at 0b4b99a Deploying to gh-pages from  @ 59d1b5aa0c54698bf3976c1b5e2f8451916e17c8 🚀
/usr/bin/rsync -q

[2020-07-02 11:40] 2shady4u commented on #18
Seems like some android CI exports already exist, such as:
https://github.com/dbrova15/godot-ci-android-bakz

It seems relatively easy to just merge these with the already existing Dockerfile?

[2020-07-05 08:45] asheraryam commented on #18
@2shady4u Just saw the repo you shared, it looks great :+1:

I would prefer to create a new image with android support, similar to what we did for mono. That way we do not bloat the image unnecessarily for people who don't need android support.

We'll even make a fourth mono + android image to be safe :)

For now I would like to test the image myself on one of my android projects, and we can also

[2020-07-05 08:49] asheraryam commented on #25
I think maybe @OverloadedOrama has an idea about working with the github actions config.

Also see if https://github.com/aBARICHELLO/godot-ci/pull/22 has any useful info.

[2020-07-05 12:02] OverloadedOrama commented on #25
I'm not sure, but it's possible the issue has to do with the fact that you're working in a private repository. #22 uses https://github.com/JamesIves/github-pages-deploy-action, so I suggest to take a look at the README on that repository to see if you need any more steps. You probably have to use a SHH Deploy Key.

[2020-07-05 12:02] 2shady4u commented on #18
ok, sounds great!

Just a question though: it is possible for  gitlab CI to derive from multiple docker images, cause i have a case where i want to build for windows, web and android at the same time. How would this be done?

[2020-07-05 12:05] asheraryam commented on #18
@2shady4u It's possible but that might make the CI slower if you don't optimize it, so I'd suggest to just use the android image for all of them. You can optimize your gitlab-ci.yml afterwards if you know what you're doing.

[2020-07-06 07:14] dbrova15 commented on #18
Hello, @asheraryam. It would be great to make one image for all platforms. At the moment, my image only works with the base Godot build. If you enable custom assembly, an error occurs.

I talked about this here: https://github.com/godotengine/godot/issues/29385#issuecomment-653023749

[2020-07-07 14:34] dbrova15 commented on #18
Hello, @asheraryam. It would be great to make one image for all platforms. At the moment, my image only works with the base Godot build. If you enable custom assembly, an error occurs.

I talked about this here: https://github.com/godotengine/godot/issues/29385#issuecomment-653023749

[2020-07-08 08:57] asheraryam commented on #18
@dbrova15 I had an error using your docker image (`bakz151/godot-ci-android-bakz:latest`) but I was able to use the other image and it worked (`myood/godot-ci-android-export:godot-3.2.2-beta4`).

It seems it cannot find the jarsigner, which is weird since the docker images are very similar.
[code]
This is mentioned in https://github.com/godotengine/godot/issues/29385 and it seems to be due to edit

[2020-07-08 09:02] asheraryam commented on #18
@2shady4u You should be able to use the docker image I mentioned to setup CI for android.

Here is the ci config I'm using in case you have any trouble. Note that my game is not in the root of the git repo, it is inside a subfolder called "godot", so it's better to use the yaml from the [dbrova repo](https://github.com/dbrova15/godot-ci-android-bakz).

[2020-07-08 09:44] dbrova15 commented on #18
@asheraryam This is really strange since I took dockerfile myood/godot-ci-android-export as the basis. I wanted to modify it to fix the custom build.

[2020-07-08 21:32] asheraryam commented on #18
Yeah it's definitely very weird, since I used the yaml config from your repo, so if anything I would have expected it to not work with the myood settings. I'll try it again and try building the image myself in the weekend and see why it could be causing this error.

[2020-07-08 21:39] asheraryam commented on #18
@dbrova15 @myood I just noticed that there has been an update on one of the CI repos that could help with the custom builds, see this diff https://github.com/myood/godot-ci-android-export/commit/6a374b3a69dac4d7ac457de7d22fea993c5895ae

Seems we should try the latest image from myood to see if it solves the issue.

[2020-07-09 07:00] dbrova15 commented on #18
@asheraryam This is really strange since I took dockerfile myood/godot-ci-android-export as the basis. I wanted to modify it to fix the custom build.

[2020-07-09 07:05] dbrova15 commented on #18
I added this line as soon as I noticed that this setting is not. So this does not solve the problem. But in any case, I will try this image. Maybe the same magic works here as with jarsigner :)

[2020-07-18 18:19] myood commented on #18
I updated my images master/godot-3.2.2 and can export to android with custom build successfully.
I'm using godot-3.2.2-stable with godot-firebase plugin and export succeeds.
My yaml differs much from the sample in the github repo, but should work now.

Here's what changed: https://github.com/myood/godot-ci-android-export/commit/70655999a3576fabfc1d8c21dccd5a2346f5349b

[2020-07-22 03:33] juunishimaster opened #26 "Mac OS and Linux Export Failed"
Hello,

I'm not too experienced with CI/CD script, so there's high chance I overlooked something simple rather than finding a bug or something. (Also, sorry if my English is confusing)

I use Godot 3.2.2 for this project. Windows export works well.

My gitlab-ci.yaml snippet looks like this:

[code]

And the error appeared is:

[code]

[code]

Thank you.

[2020-07-22 08:09] Calinou commented on #26
You need to create two export presets named "Linux/X11" and "Mac OSX" and commit `export_presets.cfg` to version control. Make sure `export_presets.cfg` isn't present in your `.gitignore` file too.

[2020-07-23 02:49] juunishimaster commented on #26
Oh, I see. There's `export_presets.cfg` in my `.gitignore` file.

Export success after I removed it.

Thank you for the help! :D I'll close this issue then.

[2020-07-23 02:49] #26 closed

[2020-07-27 21:29] #25 closed

[2020-08-21 14:55] 2shady4u opened #28 "Missing .translation-files"
The recommended _.gitignore_ for Godot (https://github.com/github/gitignore/blob/master/Godot.gitignore) says to ignore the _export_presets.cfg_ which is of course not a good idea if you need to run godot-ci.

Similarly the _.gitignore_ recommends not pushing the auto-generated _.translation_-files to the remote.
Unfortunately this leads to errors in the Gitlab runner output due to missing .transl

[2020-08-24 03:07] m50 opened #29 "Mono 3.2.2 Builds failing, as template doesn't exist."
Hi, I am receiving this message in my builds:

I am using the `barichello/godot-ci:mono-3.2.2` container.

That folder doesn't exist.

[code]

While that's not an issue, because I can change it, it does mean that there is an issue in your template. If nothing else, maybe mention it in the instructions, so that people know that they may need to edit this?

[2020-08-24 13:47] asheraryam commented on #29
Hey, thanks for the tip, seems the `mono-3.2.2` tag was built from an [older commit](https://github.com/aBARICHELLO/godot-ci/blob/22f6aa9217d8edbec82fb4d9f06ce6857b8d6086/mono.Dockerfile) that uses 3.3.2 befa3.

We will be restarting the docker build for this tag so will be corrected very soon.

In the meantime, the `mono-latest tag` is correctly using 3.2.2 stable so you can switch to that if you

[2020-08-24 14:01] aBARICHELLO commented on #29
Triggered a new build, should be fixed in half an hour or so.

[2020-08-24 14:01] #29 closed

[2020-08-24 21:38] asheraryam commented on #29
I noticed the build is using the same commit hash. Seems the 3.2.2 branch is out of date, it did not get rebased on the mono changes from master.

![image](https://user-images.githubusercontent.com/43449832/91098743-b2dd7080-e66a-11ea-8ecd-41f681a7bd01.png)

I added this pull request now to fix the issue. https://github.com/aBARICHELLO/godot-ci/pull/30

I am not sure if this triggers the builds on

[2020-08-25 23:17] m50 commented on #29
@aBARICHELLO I will note that with the new dockerfile, it still isn't just `.stable`... It's `.stable.mono`, might be worth mentioning this as a needed change for mono builds.

[2020-08-26 08:46] #28 closed

[2020-09-05 18:01] OverloadedOrama commented on #21
As a workaround to this issue, I added an extra step before the rest of the steps for Windows builds, that downloads and sets up WINE and recedit.

The instructions are these:
[code]

It first downloads WINE. I'm not sure if wine-stable is needed, but if wine32 isn't installed, it complains. `dpkg --add-architecture i386` is needed to download wine32. Then, it executes chown to change the owner of

[2020-09-12 09:18] myin142 opened #31 "Script class not found"
When I build the project with this docker image, I get for example this error:
`
**SCRIPT ERROR**: Parse Error: The identifier "Health" isn't a valid type (not a script or class), or couldn't be found on base "self".`

But building it locally works fine. I tried 3.2.2, 3.2.1 and latest but they all cause this error. Not sure if the problem is in this docker image. I assume it is since it works loc

[2020-09-12 13:39] asheraryam commented on #31
This sort of error doesn't seem like something we can fix, it is most likely an issue with godot when running from the headless version.

[2020-10-06 21:50] #18 closed

[2020-10-11 08:51] paul-asvb opened #35 "Running example for github action"
Hello,
im new to godot and trying to run my CI on github actions.
Can someone point me to an working example?

[2020-10-11 13:00] asheraryam commented on #35
This is the latest config for github actions:
https://github.com/aBARICHELLO/godot-ci/blob/master/.github/workflows/godot-ci.yml

Make a folder on your repo called `.github`, then create a subfolder called `workflows`, then paste `godot-ci.yml` inside.

[2020-10-12 06:59] paul-asvb commented on #35
Would you also do that in a real project? Have the godot project in a subdirectory?

[2020-10-13 08:10] asheraryam commented on #35
That is up to you, there is not much difference (but you have to make sure your CI script points to the right project file).

[2020-10-13 08:37] 2shady4u commented on #35
as an example, i used godot-ci with github actions for godot wild jam of a few months back: https://github.com/2shady4u/gwj24

[2020-10-15 11:05] Xananax commented on #21
I add `Imagemagick`, `Wine`, and `Rcedit` to the docker.

Wine and RCEdit to integrate the icon, and imagemagick to generate it from a png image (as well as potentially generating the OSX icns with [icnsutils](https://launchpad.net/ubuntu/trusty/+package/icnsutils), though I haven't gotten there yet)

I also generate inline a small script `set-icon`, which takes a png path and a godot exported exe

[2020-10-15 11:50] 2shady4u opened #36 "Android CI is not implemented in older Docker images (<= 3.2.3)"
I'm probably missing something here...?

When running the Android Debug job on Gitlab-CI I get following error:
![image](https://user-images.githubusercontent.com/42484461/96119374-2d00d780-0eed-11eb-8bd3-05e8cfa32f17.png)

Is there a gitlab variable I'm missing somewhere? If yes, which one and could this then be updated in the README?

my yml:
[code]

What am I missing here?

[2020-10-15 12:17] 2shady4u commented on #36
Update: Seems like the 3.2.3 Docker image doesn't include android!

This is counter-intuitive as using the "lastest" Docker image is not recommended due to potential version discrepancy between project and CI.

[2020-10-15 18:00] aBARICHELLO commented on #36
I forgot to rebase these changes to the 3.2.3, android support is master only for now

[2020-10-15 18:01] aBARICHELLO commented on #35
I think i'll create an example repository and include it in the readme, i'll also review the github action install process

[2020-10-16 08:36] 2shady4u commented on #21
this would be nice to have yes :)

[2020-10-18 02:58] aBARICHELLO commented on #36
Rebased, docker hub should take half an hour to build.

[2020-10-18 02:58] #36 closed

[2020-10-24 02:09] aBARICHELLO commented on #35
I have a second example repository to add: https://github.com/aBARICHELLO/game-off
I'm gonna be honest with you guys, I'm not a huge fan of GitHub Actions. I think GitLab CI is easier to setup. I don't know why but GitHub Actions is really hard to learn so I'm not the best candidate for improving this part of this project.
Closing this for now, let me know if you have other quesitons

[2020-10-24 02:09] #35 closed

[2020-10-24 17:18] asheraryam opened #38 "Share import cache within the across jobs within the same pipeline"
Depends on https://github.com/godotengine/godot-proposals/issues/1362#issuecomment-714638052

Although we specify the cache config in the gitlab-ci script, it doesn't always lead to the desired result.

Caching across jobs hasn't been tested and so might also fail, but it's a worth a try later.

[2020-10-24 17:26] asheraryam opened #39 "Usage tip for mono: Non-build jobs (like uploading to itch) should use non-mono image"
The mono image is significantly larger. Using the non-mono image for jobs other than building results in almost a minute less time for each of these jobs.

[2020-10-30 18:31] 2shady4u opened #40 "Android Release CI fails due to base64: invalid input"
Could there be a little bit more information on how to actually encode the release key with base64?

I encoded the keystore key as indicated, but I am unable to recover the key again once it has been encoded.
Using WSL (Ubuntu) I get the following errors messages:
![Capture](https://user-images.githubusercontent.com/42484461/97743653-45284780-1ae6-11eb-91d5-7a7003a40c18.PNG)

It also crashes on th

[2020-10-30 18:55] Calinou commented on #40
That `echo` command should likely be changed to `cat $SECRET_RELEASE_KEYSTORE_BASE64 | base64 --decode > /root/release.keystore`.

[2020-10-30 19:02] 2shady4u commented on #40
ah! will test asap. Can i assume that the original PR had the key stored as a **variable** instead of as a **file** ?

[2020-10-31 14:15] 2shady4u commented on #40
@Calinou and @asheraryam Ok, it works when I switch the `echo` to `cat` 👍
Could this be changed in the YML?

[2020-11-01 18:28] asheraryam commented on #40
@2shady4u You guessed correctly, in the original PR had the key stored as a variable in the gitlab settings instead of as a file in the repo.

This is preferable since storing key files in repositories is usually frowned upon, and should not be the default behavior if there is a better alternative.

We shouldn't change the YML to use a file instead of a variable, but we can add better documentatio

[2020-11-01 18:28] #40 closed

[2020-11-06 21:34] lallmon opened #43 "Add Git LFS support to GitHub Actions"
I came across this issue and was convinced that #42 was the solution, as Git LFS is just a pointer to an asset file, yet on my action I'm still getting this during the Godot build step.

[code]

I'm not sure what is going wrong, as the same command on my local Linux install ends up with this output:

[code]

Any ideas as to why this might be happening? It results in a build that crashes on startup

[2020-11-13 02:01] aBARICHELLO commented on #43
Closed by #44

[2020-11-13 02:01] #43 closed

[2020-11-14 10:56] myin142 commented on #31
Just some information. I don't think there is any problem with the docker image or godot headless itself. Because I tried building it locally with this image using docker and it seems to work.
It only does not work on Github Actions and Gitlab CI, maybe even other CI providers. Only builds on these CI providers fails for me.

[2020-12-01 20:15] lallmon commented on #14
Has anyone successfully used GodotCI on GitHub to successfully push to Itch.io? I tried a couple ways from other examples but didn't get it to work.

[2020-12-01 22:09] 2shady4u commented on #14
Yeah @lallmon, I did this here:
https://github.com/2shady4u/gwj24

[2020-12-03 09:46] mars3142 opened #45 "iOS and Android export"
Is it possible to create iOS and/or Android builds with this action? I want to deploy my test builds to Firebase App Distribution and/or Testflight/Google Play Beta Testing.

[2020-12-03 14:39] Calinou commented on #45
Android support was added in https://github.com/aBARICHELLO/godot-ci/pull/34, but it's only in GitLab CI so far.

[2020-12-03 15:00] mars3142 commented on #45
@Calinou Is the Android exporter able to create AAB files or only full APKs? I do also ask, because for AAB format we don't need the expansion files anymore.

[2020-12-03 16:08] Calinou commented on #45
@mars3142 The Android exporter can create both. If you use the old workflow, you'll be exporting full APKs. If you use the new workflow, you can export APKs *or* AABs.

[2021-01-22 18:09] Flash1232 opened #49 "Gitlab CI Jobs randomly fail"
Did you ever encounter weird phenomena like these:
[code]
?

It happens randomly to different jobs (mostly linux and windows export stages), sometimes files go missing, sometimes I get this. It's frustrating. I'm running a docker-in-docker gitlab-runner setup.

**EDIT**: I am running a docker-in-docker runner configuration and set `concurrent=4` in the runner toml file so there should never be mor

[2021-01-31 16:18] cuong0993 opened #50 "Please add export android in mono.Dockerfile"
Hi,

I could not export android using godot mono.
I checked that mono.Dockerfile do not have android installation like Dockerfile.
Please consider to support export android in mono.Dockerfile.

[2021-01-31 18:35] Calinou commented on #31
@myin142 Can you still reproduce this issue with the latest Godot and godot-ci versions?

[2021-01-31 22:45] asheraryam commented on #50
Thank you for the issue. I'll add it after 3.2.4 is released with the new image since I do not have much time these few weeks to do them both separately.

[2021-02-01 16:27] myin142 commented on #31
@Calinou Seems like it is still happening. I changed it to the latest version but the newest is 3.2.3 anyway so I think nothing changed since last time. I used the project I mentioned in this issue.

[2021-02-24 00:24] MintStudios opened #51 "3.2.4rc3 temporary build"
I'm here because I have an M1 mac and I'd like to use this CI build. Could we have a build for the latest RC?

[2021-04-08 21:37] neoq opened #52 "No CI for the docker images themselves"
Hi, first of all, love the existing work.
I was just wondering how the images get to the docker hub. I assume @aBARICHELLO is pushing them manually at the moment because the github and gitlab CI only demonstrate the godot CI. If that is the case I suggest replacing the current CI by jobs that build the godot-ci images and automatically push and tag them on the docker hub for specific branches like

[2021-04-09 00:56] aBARICHELLO commented on #52
I use Docker Hub's automated builds instead of building them myself. The `latest` tags are triggered manually to prevent new builds over commits that don't change the image itself while the other branches are built automatically.

![image](https://user-images.githubusercontent.com/16687318/114112291-76394f00-98b2-11eb-946e-a0f467270ee0.png)

For example, the current commit for the `latest` tag is

[2021-04-09 01:14] #52 closed

[2021-04-09 10:09] neoq commented on #52
Yeah that clears it up. Thank you. I did not think of Docker Hub's automated builds :)

[2021-04-16 13:17] TRy-Dev commented on #49
I started getting these errors for Windows build recently as well.

There's a link to https://api.itch.io/wharf/builds/... in the log, here's it's contents:

[code]

[2021-04-17 21:21] gabeklavans opened #53 "Failing Windows build on missing template"
Yo, trying to get the basic workflow set up, and I'm running into this error trying to get it working with Godot mono 3.2.3
[code]

Anything I'm doing wrong here? All I changed from the example build yml in the main repo was the versions and changed to using the root file path instead of a subdir like test-proj

[2021-04-19 19:39] 2shady4u commented on #53
@gabeklavans
The `res://bin/win64/release/libgitapi.dll` seems to be missing from anywhere in your repository.
Are you positive exporting your project works on your device without issue?

[2021-04-19 20:47] 2shady4u commented on #51
@MintStudios
I don't think it is in this repository's spirit to publish docker templates of (unfinished) Release Candidates.
This repository will be updated whenever Godot v3.3-stable gets a proper release.

In the meantime you can either:
- Make your own Docker build based off a fork of this repository.
- Use a Docker repo that I made myself for testing my GDNative web exports:
https://hub.docker

[2021-04-20 00:43] abarichello commented on #51
Like Piet said we don't maintain release candidates since they are short-lived, also not having a Mac makes this scenario difficult for me to test.

[2021-04-20 00:43] #51 closed

[2021-04-24 21:16] mars3142 opened #54 "Create Multistage Dockerfiles"
It would be great, if the Dockerfile will be multistage, because it could reduce the base container size for downloading it locally.

[2021-05-18 16:50] Krutonium opened #55 "Can't successfully build on 3.3"
During the build I am seeing
[code]

   Which seems to indicate that there are export templates missing. Am I missing something?

[code]

[2021-05-18 16:54] Calinou commented on #55
You need to download export templates before you can export.

[2021-05-20 02:12] #55 closed

[2021-06-12 16:37] nicktheway commented on #49
I run into the same issue today, for me it turned out that I was using 2 gitlab-runner services on the same runner config:

- One that I'd started after registering a runner using `gitlab-runner run`
- And another running in the background from the `gitlab-runner.service`. I didn't think I would have that one since I never explicitly run `gitlab-runner install/start`.

Also noticed that, something

[2021-06-20 10:25] antv199 opened #57 "Question: is there a way to only compile and export the PCK file separately?"
I'm looking to use the CI file for automated compiling for Gotm.io, which only requires a pck file. Can this actually be done or is this a feature that the repo wasn't meant for?

[2021-06-20 10:50] Calinou commented on #57
You can modify the [GitHub Actions workflow](https://github.com/abarichello/godot-ci/blob/master/.github/workflows/godot-ci.yml) to call `--export-pack <preset> <path>` instead of `--export <preset> <path>`.

[2021-06-20 14:56] #57 closed

[2021-07-07 13:12] clement-or opened #59 "Android export fail : no valid Android SDK Path"
[code]

This error appears when android debug export is setup using the demo ci stage. I don't know if I did something wrong or if it's a bug that needs to be fixed in the docker image.

Version: 3.3.2

[2021-09-21 01:55] abarichello commented on #59
I'm not sure how to reproduce this error. Just tested the android APK output from the 3.3.3 version and it works perfectly.
https://gitlab.com/barichello/godot-ci/-/jobs/1517625863

[2021-09-21 06:30] 2shady4u commented on #59
Not sure how it is working in your case.. I'll have to check for differences.
But in my case I do get this error:
![image](https://user-images.githubusercontent.com/42484461/134122357-b22440ba-97b2-4d80-b505-68d32764ce20.png)

And it was working in older versions of Godot (before 3.3.2).
I'll try to figure what is going on here...

[2021-09-21 06:33] 2shady4u commented on #59
@abarichello the job that you linked is running on Godot 3.2.3:
![image](https://user-images.githubusercontent.com/42484461/134122671-4e88ace9-37df-44de-9887-7f3526e92282.png)

That's why it is working in your case 😄

[2021-09-21 12:17] abarichello commented on #59
Lol, you're right. I'll test your changes then

[2021-10-05 07:52] mars3142 opened #61 "3.3.4 build on docker hub"
When will be a v3.3.4 container on docker hub?

[2021-10-05 20:56] exarkun commented on #49
This also happens even if you don't accidentally have to gitlab-runner instances running using the same config.

[2021-10-06 18:01] abarichello commented on #61
On the way, testing #59

[2021-10-07 00:34] abarichello commented on #61
3.3.4 is on docker hub now, will update it again and oficially release when we fix the android export problem

[2021-10-07 07:24] 2shady4u commented on #59
@abarichello doing some testing myself
https://github.com/2shady4u/godot-ci/tree/fix-android-export

Will tell when it works :)

[2021-11-05 15:43] Calinou opened #62 "Update to 3.4"
[`3.4-stable` is tagged on GitHub](https://github.com/godotengine/godot/releases/tag/3.4-stable), which means this Docker image can be updated for Godot 3.4 now. (The announcement post will be made today or tomorrow.)

[2021-11-08 21:25] mars3142 commented on #62
Would it be possible to create a cron job, which build the latest godot-ci without manual doing? That would speed up every new docker container with godot for ci.

[2021-11-08 21:37] abarichello commented on #62
The latest releases took longer because I was used to Docker Hub's Autobuild, it got removed from the free plan and now I have to do everything manually.
![image](https://user-images.githubusercontent.com/16687318/140821613-30788c71-13f8-4458-b8dc-9060ffda09f6.png)
I like the idea of a daily script, it would be a cheaper option as a replacement to automate everything

[2021-11-08 21:39] #61 closed

[2021-11-08 21:50] abarichello opened #65 "Godot-ci update script"
Since Docker Hub's [automated builds](https://docs.docker.com/docker-hub/builds/) are now locked behind a $60/year plan creating a script to check for new godot releases everyday would help keep this project up to date with minimal manual intervention.

Workflow:
1. Check for a new godot release everyday.
2. If a new release is available build the docker image with the GODOT_ENV variable updated.

[2021-11-08 21:50] abarichello commented on #62
#65

[2021-11-14 13:57] OverloadedOrama commented on #62
This is most likely due to https://github.com/godotengine/godot/pull/49276/. Mac projects need to have an identifier in order to be valid. Also keep in mind that only letters, numbers, dashes (-) and dots (.) are allowed. If the identifier has, for example, an underscore (_) it will also give an error during export.

[2021-11-14 19:05] davcri commented on #62
I noticed that also the Android debug build is now [failing](https://gitlab.com/barichello/godot-ci/-/jobs/1762058078) as already mentioned in #59:
[code]

There is a workaround (Dockerfile + Docker Image) here: https://github.com/crystal-bit/godot-game-template/issues/53#issuecomment-968344779
I don't know if it's a good approach, but I if it's helpful I can open a PR to update `godot-ci`'s Docke

[2021-12-04 19:58] maxim-sheronov commented on #59
Hi there.
That could be great to fix this bug 😃
Also there is one more issue. Latest android-sdk does not include sdkmanager, so you need to add something like this before calling it:

[code]

[2021-12-04 20:44] maxim-sheronov commented on #59
Hey, there is one more issue.
Latest android-sdk doesn't include sdkmanager, so I figured out it to work with something like that **before** calling sdkmanager:

[code]

[2021-12-06 03:06] d8sconz opened #68 ""a valid android sdk path is required in editor settings" error on export dialog - godot 3.4"
Linux Mint 20
Godot 3.4

Just upgraded and can't do anything to correct this error message. The SDK path is in Editor settings, it's the correct path and I've tried several alternative paths to no avail.

[2021-12-06 13:51] Foxomat commented on #68
having the same problem on windows with godot 3.4

@d8sconz Editor settings is independent form your project so your personal Editor settings should not matter for the android export pipeline. I suppose that this is not on our side to fix.

[2021-12-06 13:52] Foxomat commented on #68
also just noticed this is a duplicate of #59

[2021-12-06 14:08] Calinou commented on #68
Duplicate of https://github.com/abarichello/godot-ci/issues/59.

[2021-12-06 14:08] #68 closed

[2021-12-06 22:25] d8sconz commented on #68
But it was working yesterday on 3.2? Nothing has changed on my side.

On Mon, 6 Dec 2021 at 20:51, Felix ***@***.***> wrote:

[2021-12-06 22:27] Calinou commented on #68
Godot 3.3 and later changed the location of Android settings. There is no more need to set the **Adb** and **Jarsigner** settings. Instead, you set the **Android Sdk Path** setting which will control both the ADB and jarsigner paths behind the scenes.

[2021-12-06 22:35] d8sconz commented on #68
I have set the SDK path. It is the correct path. I still get the error. I
have removed the Adb and Jarsigner entries. Error remains

On Tue, 7 Dec 2021 at 05:27, Hugo Locurcio ***@***.***> wrote:

[2021-12-11 20:03] asheraryam commented on #59
@maxim-sheronov PR is welcome if you want to contribute the fix!

[2021-12-12 11:21] maxim-sheronov commented on #59
Well, I made it working in custom image, so I probably can prepare a PR to make it available for people.

[2021-12-13 14:02] #59 closed

[2021-12-13 14:03] Calinou commented on #62
@davcri Android exporting should be fixed in the next image release since https://github.com/abarichello/godot-ci/pull/69 was merged.

[2021-12-13 22:20] Calinou commented on #62
Closing, as the engine now offers 3.4 with the Android exporting fix.

[2021-12-13 22:20] #62 closed

[2021-12-24 18:04] Razzlegames commented on #65
I was thinking... You could run a Github `action` on a schedule to accomplish this.

https://jasonet.co/posts/scheduled-actions/

 The action workflow can publish the latest Docker image to `DockerHub`, using an access token you create through your `DockerHub` account.

 I think it shouldn't cost anything (other than time), but I imagine there are limits.  I did this with `wercker` pipelines, fair

[2021-12-27 04:52] jfaz1 commented on #50
Just wanted to share interest in this feature. I might add this myself in a couple of weeks if it's not done by then. Thank you for the project by the way!

[2022-01-11 16:59] Crystalwarrior commented on #45
any updates on github build android support?

[2022-01-11 17:32] Crystalwarrior opened #72 "Undocumented Errors, no clue what I'm doing"
First off I am really glad this exists and I want to get this working, but I have never set up github actions before and I dunno what I'm doing.
At first, I had an error code 2 where it couldn't CD to my project folder - this was resolved by moving the whole Godot project into its own folder while the github actions remained in the root folder of the project. I could not find
Now, I have error cod

[2022-01-12 15:23] papojari opened #73 "`java.io.IOException: Invalid keystore format`"
When I build our Godot app with your CI for Android I get this:
[code]
I followed the steps in the documentation of the CI config to encode the key and all that. I verified multiple times now that the from base64 decoded key is exactly the same as the original non base64 key. I have no idea what this error means.

[2022-02-04 15:54] myin142 commented on #45
GitHub build should also work, they are just not documented I think. All the necessary dependencies and settings should already be set in the Dockerfile. I am currently trying it out. I still have some problems but they seem to be on my side.

[2022-02-24 00:40] dozingpip commented on #59
I'm getting this error for the mono-3.4.2 image... Not sure if I should open it as a new issue or what?
Exact failure message:
[code]

I also tried adding
[code]

to the script for the build but got back:
[code]
and it failed directly after that on that run.

Header from my pipeline log:
[code]

[2022-02-24 01:35] Calinou commented on #59
@dozingpip Exporting Mono projects for Android is not supported yet: https://github.com/abarichello/godot-ci/issues/50

[2022-02-24 01:35] Calinou commented on #50
@jfaz1 Out of curiosity, did you manage to get Mono exporting for work for Android?

[2022-02-26 00:19] Calinou opened #75 "Update to Godot 3.4.3"
https://godotengine.org/article/maintenance-release-godot-3-4-3

@abarichello That reminds me, is there a way I could perform those updates on Docker Hub?

[2022-03-07 11:48] TheOrioli opened #80 "Mono: Adding .NET"
Certain plugins( such as https://github.com/31/GodotOnReady) might rely on the dotnet CLI being used to build the C# project. The current docker image is built on top of the `mono:latest` and does not include the .NET SDK and CLI tools.

The current workaround ( and potential solution) is to execute the following commands before building:
[code]
which seems to be all that is required for Godot to

[2022-03-20 16:26] papojari commented on #73
I did not use java 8 but java 11.

[2022-03-20 16:31] papojari commented on #73
I'm not sure how to use Java 8 either.

[2022-03-20 18:27] myin142 commented on #73
I think you just have to set the environment variable `JAVA_HOME` to a different directory with java 8.

[2022-03-21 17:53] papojari commented on #73
So I did that and generated a new keystore with `keytool` but it's giving the same error,

[2022-03-21 20:28] myin142 commented on #73
My bad, it isn't just setting `JAVA_HOME`. You have to use the `keytool` scripts of the correct JDK to use a different version. So in your case it should be in `/nix/store/6aj4vbk6hnbi7hv6lq98xyv6ikz3q45c-openjdk-8u272-b10-debug/bin/keytool`.

[2022-03-31 21:28] #65 closed

[2022-04-03 09:08] nyrrrr opened #81 "Mac Build Problems"
Hi, for me the mac build is not working. It tells me the executable is damaged and I should move it to the trash when trying to run it.

[2022-04-03 18:10] Calinou commented on #81
This is not a problem with godot-ci, but with the fact that your exported project is unsigned (or at least unnotarized). See [Running Godot apps on macOS](https://docs.godotengine.org/en/latest/tutorials/export/running_on_mac.html) for an explanation.

Welcome to the world of exporting for macOS :slightly_frowning_face:

[2022-05-23 18:59] oneseedfruit opened #82 "Another "a valid android sdk path is required in editor settings", no valid Android SDK Path, same as #59 and #68"
Using image `barichello/godot-ci:3.4.4`, basically the same issue as #59 and #68. To get it to see the Android SDK path in `/usr/lib/android-sdk`, I had to run in the steps:

[code]

Before doing this, it wouldn't detect the Android SDK path at all, but after these lines are added it worked perfectly.

[2022-06-04 17:05] DasOhmoff commented on #82
I have this very same issue

[2022-06-04 17:13] DasOhmoff commented on #50
Hey I also need this. How can I make this happen?

[2022-06-04 17:14] DasOhmoff commented on #82
I just realized #50 says that it is not possible to export mono android build. What a bummer.

[2022-06-09 08:20] bend-n opened #85 "why does /root/.local/share/godot/templates/3.4.4.stable not exist?"
https://github.com/bend-n/chess/runs/6808595325?check_suite_focus=true

[2022-06-09 11:41] bend-n commented on #85
version mismatch

[2022-06-09 11:41] #85 closed

[2022-06-10 09:47] bend-n opened #86 "Target path appears to be invalid?"
[code]
This is probably 'not our bug' but I don't [understand it.](https://github.com/bend-n/chess/runs/6828536920?check_suite_focus=true)

[2022-06-10 11:09] Calinou commented on #86
The target path is relative to the project directory, **not** your CWD.

[2022-06-11 22:55] bend-n commented on #86
Thanks, replacing `..` with `.` fixed it. Should have noticed 😅

[2022-06-11 22:55] #86 closed

[2022-06-12 00:07] bend-n commented on #14
This has been done on 6df44cac728e46248bcffcb519f84bcf2b0fe2a5, but is it possible for github actions?

[2022-06-26 00:55] onepersonhere opened #87 "mv: cannot stat '/root/.local/share/godot/templates/3.4.4.stable': No such file or directory"
Steps to reproduce:
[in .yml]
[code]
Error @Setup
[code]

[2022-06-26 01:03] Calinou commented on #87
The setup command should be adjusted, as Mono export templates are installed to `3.4.4.stable.mono`.

[2022-06-26 06:45] onepersonhere commented on #87
Hi thanks for the prompt reply, it works after the edit however now I am getting the following error:
[code]

[2022-06-29 23:47] Ktar5 commented on #50
Is this going to get support?

[2022-06-30 15:07] Calinou commented on #50
There is no ETA for implementing this, as nobody is currently working on this (and I don't use C# myself).

[2022-07-01 02:05] cuong0993 commented on #50
I built an image myself https://github.com/cuong0993/godot-mono-docker

[2022-07-01 04:52] Ktar5 commented on #50
@cuong0993 Hello friend, I must admit I'm not sure exactly how to use that. Would you mind giving me a brief explanation?

[2022-07-01 05:25] cuong0993 commented on #50
This is how I use it https://github.com/cuong0993/puzzle/blob/main/.github/workflows/main.yml .

[2022-07-02 06:48] Ktar5 commented on #50
@cuong0993 What is EXPORT_PRESETS secret, and do you not need to use the user and pass for your keystore? Is there anything custom I need to do in my android export preset that is different from the default Android presets provided in this repo?

[2022-07-02 14:26] cuong0993 commented on #50
This is my EXPORT_PRESETS. It contains keystore password so I keep it secret. I know godot can be configure keystore per IDE (all projects) but I prefer configure for each project.

![image](https://user-images.githubusercontent.com/8237154/177004774-6626f0c7-2787-453f-b9de-8daf15b8fa2b.png)

[2022-07-08 00:31] bend-n opened #88 "`editor_settings-3.tres` not set by dockerfile?"
[see here](https://github.com/bend-n/chess/runs/7243684498?check_suite_focus=true):
[code]

[2022-07-08 00:32] bend-n commented on #87
Remove the `cd $EXPORT_NAME` if your game isnt in a subfolder

[2022-07-09 08:05] bend-n commented on #88
I found the issue was that godot did see it, but couldnt parse it and therefore just reset it to default.

[2022-07-09 17:04] Calinou commented on #88
If you can reproduce this on a local machine, please report this on the main Godot repository. Godot should be modified to print an error message if it discards the editor settings file for any reason.

[2022-07-09 23:01] bend-n commented on #88
It does; if you launch the editor. otherwise its completely silent, do you want me to make a minimum reproduction project for the cli exports?

[2022-07-09 23:09] Calinou commented on #88
Yes, please do :slightly_smiling_face:

[2022-07-09 23:29] bend-n commented on #88
Okay

[2022-07-09 23:46] bend-n commented on #88
Either way, the current dockerfile sets the editor_settings-3.tres, but it then gets reset, with no error i could find.

[2022-07-18 12:34] bend-n opened #89 "How to use with beta builds?"
for instance [this](https://downloads.tuxfamily.org/godotengine/3.5/rc6)

I see https://github.com/abarichello/godot-ci/blob/651e66176ab66ba920d9487614fd472f470612a8/Dockerfile#L22-L24 however not quite sure how to set them. Do I `image: docker://barichello/godot-ci:3.5/rc6`?

[2022-07-18 21:40] Calinou commented on #89
There are no container images provided for pre-releases.

[2022-07-19 12:52] TheOrioli commented on #89
@bend-n your `GODOT_VERSION` is still set to 3.4.4 in the workflow, change that to ` GODOT_VERSION: 3.5.rc6`

[2022-07-19 13:19] TheOrioli commented on #89
@bend-n this is the setup step in my builds
[code]

I use the mono version, so it should be just removing the `.mono` at the end of the lines

[2022-07-19 13:38] bend-n commented on #89
The import errors are normal, i ignore the `.import`

[2022-07-19 13:43] bend-n commented on #89
[I got it](https://github.com/bend-n/chess/runs/7410417529?check_suite_focus=true) 🥳

[2022-07-19 13:43] #89 closed

[2022-07-23 08:39] onepersonhere commented on #87
Thanks!

[2022-07-23 08:39] #87 closed

[2022-07-27 04:04] Mylab6 commented on #80
I'm also having issues with .net

Before adding C# everything was fine, but now nothing works and I get this error when deploying to GitHub pages and trying to play the game

index.js:362 ERROR: Condition "err" is true. Returned: err
onPrintError @ index.js:362
index.js:362    at: load_source_code (modules/gdscript/gdscript.cpp:787) - Condition "err" is true. Returned: err
onPrintError @ index.js:

[2022-08-06 07:56] TheOrioli opened #91 "Scheduled workflow failed to run"
The scheduled workflow failed to run https://github.com/abarichello/godot-ci/runs/7700375622?check_suite_focus=true due to the use of backticks in the godot release description. I'm hoping I can get a fix in today.

Edit: It wasn't due to backticks, see PR #92 for detailed explanation of issue cause.

[2022-08-07 05:18] #91 closed

[2022-08-07 18:31] Reneator opened #93 "3.5: aborts on checkout with "detected dubious ownership""
Using github actions i set up a workflow file that uses godot-ci.
When using the previous version 3.4.4 it works no problem (retested after this error) but with 3.5 it aborts:

![image](https://user-images.githubusercontent.com/24807557/183305753-5a364ff4-93dc-46e4-883a-178db76ecd85.png)

At the same location in the output for a build using godot and godot-ci 3.4.4:

![image](https://user-images.g

[2022-08-07 18:39] Reneator commented on #93
The same is happening for 3.4.5:
![image](https://user-images.githubusercontent.com/24807557/183306033-07851634-80fb-4b02-970e-c2b5348aa9ed.png)

[2022-08-07 19:03] Reneator commented on #93
Bumping the version of git checkout (actions/checkout) from 3.0.0 -> 3.0.2 fixed it for me to properly build on 3.4.5 and 3.5.

![image](https://user-images.githubusercontent.com/24807557/183306639-3378bc15-3457-41c8-898e-d3c4046706bc.png)

Maybe this can be helpful to someone else googling this problem^^

[2022-08-07 19:03] #93 closed

[2022-10-04 00:27] QuintillusCFC opened #95 "3.5.1 Code-Signing Error on Mac Build?"
Hey all, this is a great CI image, our indie game team has been using it for many months now for our builds.

I recently switched the version to 3.5.1, and noticed that the Mac build fails, with this message:

`ERROR: Code Signing: Ad-hoc signed applications require the 'Disable Library Validation' entitlement to load dynamic libraries.`

The actual build we used is at https://github.com/C7-Game/P

[2022-10-15 07:17] Latrolage opened #96 "cd: can't cd to EXPORT_NAME"
My godot-ci.yml is this:
[code]
When it runs, it tells me
[code]

[2022-10-15 07:24] #96 closed

[2022-10-15 07:58] Latrolage opened #97 "What should export path be"
I'm getting
[code]
In export options, I've tried `../build/linux/exportname.x86_64` where exportname is the same as the EXPORT_NAME in env. and also just `exportname.x86_64` and I've also tried empty, but none work.

What is the value supposed to be?

The final error is the same as https://github.com/abarichello/godot-ci/issues/72

[2022-10-16 05:29] Latrolage commented on #97
nvm it does work

[2022-10-16 05:29] #97 closed

[2022-10-28 11:19] mattkanwisher opened #98 "Godot 4 support?"
Any chance we will see GoDot 4 support soon?

[2022-10-28 16:18] Calinou commented on #98
As I understand it, only stable releases are planned to be supported by godot-ci. As a result, Godot 4 will only be supported once 4.0 stable is released.

[2022-10-29 13:45] QuintillusCFC commented on #95
FYI, upon further investigation this affects 3.5 (base, without the 3.5.1) on Mac too.  We've kept our Mac build on 3.4.x for the time being.

[2022-10-29 21:01] Calinou commented on #95
cc @bruvzg

[2022-10-29 21:13] bruvzg commented on #95
The error is correct, Mono and GDNative/GDExtension require this option to be enabled if you are using ad-hoc signature (in the export options, check `Codesign` → `Entitlements` → `Disable Library Validation`).

- 3.4.4 do not have ad-hoc signature support (if you did not set Apple Dev ID data, exported app won't be signed at all and won't be usable on Apple Silicon macs).
- 3.5 added support for

[2022-10-30 17:16] lfkdev opened #99 "itch.io export on github ci?"
There is no itch.io export in the `.github/workflows/godot-ci.yml` template, only in the gitlab one (`.gitlab-ci.yml`). The documentary mentions that you can run godot-ci with github and gitlab. Thanks!

[2022-10-30 19:15] lfkdev commented on #45
Would be awesome if we could add the android-export to the github yaml template aswell

[2022-10-31 22:18] bend-n commented on #88
By the way, the reason this was happening was because unknown keys were found in the `editor_settings-3.tres` file, and godot didnt like it, so it reset it.

[2022-10-31 22:18] #88 closed

[2022-11-14 04:58] knightofiam commented on #50
@cuong0993 Did you delete or make those repositories private? I can't find your docker image or usage example you mentioned above.

[2022-11-14 08:49] cuong0993 commented on #50
Just make the repo again.

[2022-11-14 19:59] cmod31 opened #101 "Error at setup"
this is my yml https://github.com/cmod31/RPG-Test/blob/main/.github/workflows/godot-ci.yml and there is the failed action https://github.com/cmod31/RPG-Test/actions/runs/3464704538/jobs/5786550295

[2022-11-16 09:24] knightofiam commented on #50
Thank you! I forked and modified your docker repo. Had to go crazy with the yaml. Here's the final working result for exporting Android C# (game name redacted because it's for a client):

[code]

[2022-11-16 09:30] knightofiam commented on #50
Dockerfile:

[code]